body {
    background-image:  url(Images/blueMountains.jpg);
    /* background-image: linear-gradient(rgba(180, 84, 236, 0.4), rgba(20, 20, 100, 0.4)), url(Images/blueMountains.jpg); */
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
}

div.formWrapper {
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(99, 62, 148, 0.5);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    display: grid;
}

h1{
    opacity: 1;
}

div.innerForm {
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}


/* Buttons settings */
.innerForm input[scope="button"] {
    background-color: black;
    color: white;
    border: 1px solid rgba(99, 62, 148, 0.5);
    padding: .25em .5em;
    cursor: pointer;
}

.innerForm input[scope="button"]:hover {
    background-color: rgba(99, 62, 148, 0.5);
    color: white;
    border-color: black;
}